<div class="menu-bar__container">
	<div class="menu-bar__logo">
		<img
			src="assets/ps-logo.png"
			alt="playstation logo"
			srcset=""
			width="140px"
			height="32px"
		>
	</div>
	<div class="menu-bar__item">
		<ul>
			<li><a href="https://wa.me/5571982510281" target="_blank"><img src="" alt="whatsApp">CONTACT ME</a></li>
			<li><a href="https://linkedin.com/in/apoena-avelar-53641357" target="_blank">LINKEDIN</a></li>
			<li><a href="https://github.com/ApoenaAvelar" target="_blank">GITHUB</a></li>
		</ul>
	</div>
</div>
